body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 2px solid;
  background: #f8f8f8;
}

legend {
  font-weight: bold;
}

label {
  /* border: 1px solid rgb(153, 58, 51); */
  display: block;
  cursor: pointer;
}

/* este estilo somente no input do tipo text, aplicar essa largura*/

input[type="text"] {
  width: 20em;
}

textarea {
  width: 20em;
  height: 10em;
}
input.radio, input.checkbox, input.submit {
  width: auto;
}

.radio {
  margin-right: 1em;
}

