.conteudo {
  background-color: #dcdcdc;
  /* width: 230px; */
  height: 600px;  
  display: flex;

  /*row/row-reverse/column/column-reverse*/
  /* flex-direction: column-reverse; */
  /* flex-direction: column; */
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;

  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  justify-content: space-around;
  /* justify-content: space-evenly; */
  /* align-items: stretch; */
  /* align-items: center; */
  /* align-items: start; */
  /* align-items: end; */
  align-items: baseline;


}

.item {
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid orange;
  margin: 10px;
  
}