.conteudo {

  background: #dcdcdc;
  height: 600px; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /* flex-direction: row; */

  /* justify-content: space-around; */


  /* align-items: baseline; */

}

.item {
  /* width: 200px; */
  height: 100px;
  margin: 10px;
  background: rgb(211, 205, 205);
  border: 1px solid orange;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  
}

.item1 {/*aumenta o tamanho do item escolhido*/
  /* flex-shrink: 1; */
}

.item2 {/*aumenta o tamanho do item escolhido*/
  flex-grow: 2;
}
.item2 {/*aumenta o tamanho do item escolhido*/
  flex-grow: 5;
}

.order1 {
  order: 1;

}
.order2 {
  order: 2;

}

.order3 {
  order: 3;

}

.order4 {
  order: 4;

}