.caixa {
  width: 400px;
  background: #e7e5e5 url(img/fundo-arredondamento.png) repeat-y;
}

.caixa h2 {
  padding: 10px 20px 0px 20px;
  background: url(img/topo2.png) no-repeat left top;
}

.caixa p {
  padding: 0 20px;
  /* border: 1px solid; */
  margin-bottom: 0;
}

.caixa .ultimo {
  background: url(img/baixo2.png) no-repeat left bottom;
  /* padding-bottom: 20px; */
  width: 400px;
  height: 24px;
  /* border: 1px solid; */

}