#caixa {
  width: 300px;
  height: 300px;
  margin: 10px;
  background: #b9c941;
  padding: 50px;/*o padding influencia no width e height*/
  -webkit-box-sizing: border-box; /*retira todo o padding*/
  -moz-box-sizing: border-box; /*retira todo o padding*/
  box-sizing: border-box; /*retira todo o padding*/

  /* -webkit-border-radius: 10px 30px 40px 100px ;
  -moz-border-radius: 10px 30px 40px 100px ;
  border-radius: 10px 30px 40px 100px ; */
 
}

#caixa2 {
  width: 300px;
  height: 300px;
  margin: 10px;
  background: #b9c941;
  /* padding: 50px;o padding influencia no width e height */
  
  /* -webkit-border-radius: 10px 30px 40px 100px ;
  -moz-border-radius: 10px 30px 40px 100px ;
  border-radius: 10px 30px 40px 100px ; */
 
}

.arredondamento {
  border-radius: 150px;
  width: 300px;
  height: 300px;
}